<div class="">
    <div class="row">
        <div class="col-md-6 mt-3">
            <div class="flex-fill align-self-stretch">
                <div class="card">
                    <div class="card-body rounded">
                        <h4 class="mb-2">
                            <u>
                                Study Description
                            </u>
                        </h4>
                        <p>
                            This is a test study to sample the functionality of the data collection interface.
                        </p>
                        <p>
                            The following study will capture and visualize the following data: 
                        </p>
                        <ul>
                            <li>
                                Heart Rate (arduino)
                            </li>
                            <li>
                                Respiratory rate (arduino)
                            </li>
                            <li>
                                GSR sensor (arduino)
                            </li>
                            <li>
                                Joystick (arduino)
                            </li>
                            <li>
                                Touch fabric sensor (arduino)
                            </li>
                        </ul>
                        <p> 
                            This platform is a successor to the original user 
                            interface designed for the TouchTales emotion modelling study. 
                            This test case is intended to generalize each of the components 
                            by focusing on modularity and adaptability. 
                        </p>
                        <p>
                            The data stream collected for this test case is all arduino-based, 
                            however, we intend to extend functionality to WearOS-based wearable sensors. 
                        </p>
                        <p>
                            This platform is created with data privacy guidelines in mind; the platform 
                            itself runs locally on a single machine, and is intended 
                            to run offline as much as possible. 
                        </p>
                    </div>
                  </div>
            </div>
        </div>
        <div class="col-md-6">
          <div class="col-md-12 mt-3">
              <div class="card">
                  <div class="card-body rounded">
                    This is some text within a card body.
                </div>
                </div>    
              </div>
          <div class="col-md-12 mt-3">
              <div class="card">
                  <div class="card-body rounded">
                    This is some text within a card body.
                </div>
              </div>    
        </div>
      </div>
</div>