<div class="">
    <div class="row">
        <div class="col-md-6 mt-3">
            <div class="flex-fill align-self-stretch">
                <div class="card">
                    <div class="card-body rounded">
                        This is some text within a card body.
                        <a routerLink="../../assets/descriptions/overview.md" style="margin-bottom:24px"> 
                        </a>
                    </div>
                  </div>
            </div>
        </div>
        <div class="col-md-6">
          <div class="col-md-12 mt-3">
              <div class="card">
                  <div class="card-body rounded">
                    This is some text within a card body.
                </div>
                </div>    
              </div>
          <div class="col-md-12 mt-3">
              <div class="card">
                  <div class="card-body rounded">
                    This is some text within a card body.
                </div>
              </div>    
        </div>
      </div>
</div>